{:deps  {org.clojure/clojure {:mvn/version "1.11.1"}
         cljfx/cljfx {:mvn/version "1.7.22"}
         cljfx/css {:mvn/version "1.1.0"}
         io.github.cljfx/dev {:mvn/version "1.0.25"}
         io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}
         io.github.babashka/fs {:git/url "https://github.com/babashka/fs.git"
                                :git/sha "c43b784f52a250e4d21205f8e1ea6ec82bde038f"}
         com.evocomputing/colors {:mvn/version "1.0.6"}
         nrepl/nrepl {:mvn/version "1.0.0"}
         thi.ng/math {:mvn/version "0.3.1"}
         rewrite-clj/rewrite-clj {:mvn/version "1.1.45"}}
 :aliases
 {;; Run with clj -T:build function-in-build
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
          :ns-default build}}
 :paths ["src" "resources"]}
